extends layout

block content
    each item in videos
        div.content-block.video-item
            table
                tbody
                    tr
                        td(rowspan='4')
                            iframe(width="380", height="214", src="#{item.url}", frameborder="0", allowfullscreen)
                    tr
                        td.video-title
                            a(href="#{item.url}")
                                span #{item.title}
                    tr
                        td.video-date
                            span #{item.date.toDateString( )}
                    tr
                        td
                            div.video-description #{item.description}
                    tr
                        td
                            djfgkldfjgld
